<% include ./base/base-header %>
<link rel="stylesheet" type="text/css" href="/css/adminpage/detailEquipment.css"/>
<title>관리자 페이지</title>
<% include ./base/base-navbar %>

<div id="wrapper">
  <div class="equip-wrapper">    
    <div class="equip-head">
        <div>
            <a class="equip-heading" id = 'black' href="">장비 상세 페이지</a>
            <a class="equip-heading" id = 'gray' href="/admin/manage/equipment/update/<%= equipment.id%>">장비 수정</a>
            <a class="equip-heading" id = 'gray' href="/">장비 대여 이력</a>
        </div>
        <a class="equip-table-link" href="/admin/manage/equipment">
            <button class="btn_add">홈으로</button>
        </a>
    </div>
    <div class="equip-table">
      <form method="POST" action="/" id="editForm">
        <div class="equip-list">
          <span>장비 타입</span>
          <input type="text" name="equipSemiType" placeholder="<%= equipment.category%>" value="<%= equipment.category%>" disabled>
        </label>
        </div>
        <div class="equip-list">
          <span>규격</span>
          <input type="text" name="equipSemiType" placeholder="<%= equipment.kind%>" value="<%= equipment.kind%>" disabled>
        </div>
        <div class="equip-list">
          <span>품명</span>
          <input type="text" name="equipmentName" placeholder="<%= equipment.name%>" value="<%= equipment.name%>" disabled>
        </div>
        <div class="equip-list">
          <span>장비 시리얼번호</span>
          <input type="text" name="serialNumber" placeholder="<%= equipment.serial_number%>" value="<%= equipment.serial_number%>" disabled>
        </div>
        <div class="equip-list">
          <span>현재 장비 상태</span>
          <input type="text" name="serialNumber" placeholder="<%= equipment.state%>" value="<%= equipment.state%>" disabled>
        </div>
        <div class="equip-list">
          <span>비고</span>
          <input type="textarea" name="remark" placeholder="<%= equipment.remark%>" disabled>
        </div>
      </form>
    </div>
  </div>
</div>