<% include ./base/base-header %>
<link rel="stylesheet" type="text/css" href="/css/adminpage/equipment-detail.css"/>
<title>관리자 페이지</title>
<% include ./base/base-navbar %>

<div id="wrapper">
    <div class="equip-wrapper">    
        <div class="equip-head">
            <a class="equip-heading" id = 'black' href=""><%= equipment.kind %> (<%= equipment.name %>) - <%= equipment.serial_number%></a>
            <a class="equip-table-link" href="/admin/manage/equipment">
                <button class="btn_add">홈으로</button>
            </a>
        </div>
        <div class="equip-navbar">
            <div class="equip-tabs">
                <div class="equip-tab"><a id = 'gray' href="/admin/manage/equipment/detail/<%= equipment.id %>">장비 상세</a></div>
                <div class="equip-tab"><a id ='gray' href="/admin/manage/equipment/update/<%= equipment.id%>">장비 수정</a></div>
                <div class="equip-tab active"><a id ='white' href="">대여 이력</a></div>
            </div>
            <div class="equip-history">
                <table>
                    <thead>
                    <tr>
                        <th colspan="1"><input type="checkbox"></span>
                        <th colspan="1">대여넘버</span>
                        <th colspan="1">유저</span>
                        <th colspan="1">대여 날짜</span>
                        <th colspan="1">반납 날짜</span>
                        <th colspan="1">소속</span>
                        <th colspan="1">목적</span>
                        <th colspan="1">번호</span>
                        <th colspan="1">신분증</span>
                        <th colspan="1">비고</span>
                        <th colspan="1">상태</span>
                    </tr>
                    </thead>
                    <tbody>
                        <% for (let reservation of reservations) { %>
                            <tr>
                                <td colspan="1"><input type="checkbox"></td>
                                <td colspan="1"> <%= reservation.reservation_number %> </td>
                                <td colspan="1"> <%= reservation.name %> </td>
                                <td colspan="1"> <%= reservation.from_date %> </td>
                                <td colspan="1"> <%= reservation.real_date %> </td>
                                <td colspan="1"> <%= reservation.group %> </td>
                                <td colspan="1"> <%= reservation.purpose %> </td>
                                <td colspan="1"> <%= reservation.contact %> </td>
                                <td colspan="1"> <%= reservation.authentication %> </td>
                                <td colspan="1"> <%= reservation.remark %> </td>
                                <td colspan="1"> 
                                    <% if (reservation.state == 0) { %>
                                        <span>예약 신청</span> 
                                    <% } else if (reservation.state == 1) { %>
                                        <span>대여 중</span> 
                                    <% } else if (reservation.state == 2) { %>
                                        <span>연체 중</span> 
                                    <% } else if (reservation.state == 3) { %>
                                        <span>대여 완료</span> 
                                    <% } else if (reservation.state == 4) { %>
                                        <span>연장</span> 
                                    <% } else if (reservation.state == 5) { %>
                                        <span>예약 취소</span> 
                                    <% } else if (reservation.state == 6) { %>
                                        <span>기타</span> 
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
  </div>
</div>